* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('soccer.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 1em;
}

header h1 {
    font-size: 2em;
    color: #046a38;
}

main {
    margin-bottom: 1em;
}

section h2 {
    font-size: 1.5em;
    color: #0e0d0d;
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 1em;
}

.links {
    text-align: center;
    margin-top: 1em;
}

.links a {
    color: #046a38;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.5em;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 0.5em;
    background-color: #353030;
    color: #f7f3f3;
    border-radius: 0 0 8px 8px;
}
