
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0d0d;
    color: #333;
  }
  
  header, footer {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 0.5em 0;
    background-color: #353030;
    color: #fff;
    position: relative;
  }
  
  header h1, footer p {
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    padding: 1em;
  }
  
  section {
    background-color: #ddd;
    padding: 1em;
    border-radius: 8px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  a:link, a:visited {
    color: #046a38;
  }
  
  nav a {
    background-color: #dadddb; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    margin: 0 5px; 
    display: inline-block; 
    transition: background-color 0.3s; 
  
  }
  
  nav a:hover {
    background-color: #0e0d0d; 
  }

  @media (max-width: 480px) {
    main {
      grid-template-columns: 100%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    main {
      grid-template-columns: 50% 50%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1279px) {
    main {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
  }
  
  @media (min-width: 1280px) {
    main {
      grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    }
  }
  